.favorites-list__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  
  .favorites-list__container > div {
    position: relative;
  }

  .favorites-list__card-image {
    width: 60%;
    margin-top: 12%;
  }  

  .favorites-list__icon--delete-favorite {
    position: absolute;
    right: 2%;
    bottom: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .favorites-list__icon--delete-favorite:hover {
    opacity: 1;
  }