.home__button--show-form {
  margin-bottom: 1%;
  padding: 8px 16px;
  border: 2px solid #fbc427;
  background-color: #dc1b28;
  color: #333;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.home__button--show-form:hover {
  background-color: #bb1923;
  border-color: #ccc;
}

.home__button--show-form:focus {
  border-color: #aaa;
}

.home__button--show-form:active {
  background-color: #ddd;
  border-color: #aaa;
}

.home__creation-form-component {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  height: 0;
  overflow: hidden;
}

.home__creation-form-component.visible {
  opacity: 1;
  height: auto;
}
