.cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.cards-list__container > div {
  position: relative;
}

.cards-details__icon--toggle-favorite {
  position: absolute;
  right: 2%;
  bottom: 0;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.cards-details__icon--toggle-favorite:hover {
  opacity: 1;
}

.cards-list__card-image {
  width: 60%;
  margin-top: 12%;
}
